<footer>
  <small>The Blog is produced to you by Sanad Bukiran</small>
  <small>Copyright (c) 2016 to Sanad Bukiran All Rights Reserved.</small>
  <nav>
    <ul>
      <li><%= link_to "About", static_pages_about_path %></li>
      <li><%= link_to "Contact", "#" %></li>
    </ul>
  </nav>
</footer>
